.banner-bg {
  background-color: var(--cor-11);
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.banner h1 {
  grid-column: 1/-1;
  position: relative;
}

.banner h1::before {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background: var(--cor-p8);
  bottom: -4px;
  left: 0px;
  position: absolute;
}

.banner-conteudo {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 20px 0;
  margin-bottom: 120px;
}

.banner-conteudo a {
  display: grid;
  text-transform: uppercase;
  align-self: start;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .banner {
    grid-template-columns: auto;
    padding-top: 40px;
    gap: 20px 0px;
    text-align: center;
    justify-self: center;
  }

  .banner h1::before {
    display: none;
  }

  .banner-conteudo {
    grid-template-columns: auto;
    margin: 0;
  }

  .banner-conteudo a {
    justify-self: center;
  }
}
